.user-container{
    height:80vh;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.headings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
.main-heading{
    font-size: 35px;
    text-decoration: underline;
    color: rgb(41, 195, 218);
    margin-bottom: 20px;
}
@media screen and (max-width:768px){
    .main-heading{
      font-size: 25px;
    }
}
.table{
    background-color: #ffffff;
    width:100%;
}