.home-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button{
  background-color: #1d1a69;
  color: #ffffff;
  width:100px;
  height:40px;
  border: none;
  cursor: pointer;
}
.users-container{
    height:70vh;
    width:80vw;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
@media screen and (max-width:768px){
  .users-container{
    width:60vw;
  }
}
.table{
    background-color: #ffffff;
    width:100%;
}
.headings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
.main-heading{
    font-size: 35px;
    text-decoration: underline;
    color: rgb(41, 195, 218);
    margin-bottom: 20px;
}
.sub-heading{
    font-size: 20px;
    background-color: rgb(56, 11, 207);
    padding: 5px;
}
.search-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.searchLabel{
    color: #ffffff;
    font-size: 20px;
}
.input-search{
    width:150px;
}
.select{
  width:20vw;
}
@media screen and (max-width:900px) {
    .search-container{
        flex-direction: column;
    }
    .select{
      width:45vw;
    }
}
.search-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-container{
    padding-left: 30px;
  background-color: #1d1a69;
  color: white;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid black;
}
.nav-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-header-navbar-container{
    display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.desktop-header-navbar-link{
  position: relative;
    color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-right: 20px;
  transition: border-color 0.66s ease-out, font-size 0.3s ease-out;
}
.desktop-header-list{
  position: relative;
    color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  transition: border-color 0.66s ease-out, font-size 0.3s ease-out;
}
.mobile-header-navbar-container{
    display: none;
}
@media (max-width: 1024px) {
    .desktop-header-navbar-container {
      display: none;
    }
    .mobile-header-navbar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
    }
    .hamburger-btn {
      color: white;
      border: none;
      background-color: transparent;
    }
  
    .mobile-hamburger-menu {
      list-style-type: none;
    }
  }
  .header-navbar-link {
    color: #1d1a69;
    width: 220px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    transition: border-color 0.66s ease-out, font-size 0.3s ease-out;
  }
  @media screen and (max-width:300px){
    .header-navbar-link{
        font-size: 16px;
    }
  }
  .header-navbar-link:hover {
    background-position: 100% 100%;
    transform: scale(1.3);
    transition: transform 1s;
    color: #aed25d;
  }
  .activeTab {
    color: #aed25d;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 20px;
    transition: border-color 0.66s ease-out, font-size 0.3s ease-out;
  }
  .sidenav-users-container{
    display: flex;
    flex-direction: row;
  }
  .custom-navbar {
    position: absolute;
    height:100%;
    bottom: 0;
    background-color: #aed25d;
    width: 12vw;
  }
  @media screen and (max-width:768px){
    .custom-navbar{
      width:20vw;
    }
  }
  .statuses-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  
  }
  .status-container{
  margin: 30px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 3px 3px 3px 3px lightgray;
  width: 40vw;
  text-align: center;
  }
  .status-container1{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px 3px lightgray;
    width: 50vw;
    text-align: center;
    }
  @media screen and (max-width:768px){
    .status-container{
      width:60vw;
    }
    .status-container1{
      width:80vw;
    }
  }
  @media  screen and (max-width:395px) {
    .details-container{
      margin-top: 150px;
    }
  }
  
  .sub-id{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
  .table-data{
    display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  }
  .th,td {
    text-align: left;
    width: 45%;
    word-break: break-all;
  }
  .task-dropDown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .add-task-dropdown {
    margin-right: 8px;
    padding: 10px;
    justify-content: center;
    height: 100px;
    /* Enable vertical scrolling if needed */
    overflow-y: auto;
  }
  .date-fields-container {
    width: 50vw;
    border: solid darkslategray 2px;
    padding: 20px;
    
    color: black;
    border: none;
    border-radius: 10px;
  }
  .main-date-fields-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .task-text-field {
    margin-top: 8px;
  }
  .Add-task-heading {
    text-align: center;
    color: #010000;
  }
  .create-task-main-container {
    width:88vw;
  }
  .info-details{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width:80vw;
    max-height:90vh;
  }
  .info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .head{
    font-size: 30px;
  }
  .heads{
    font-size: 20px;
    text-align: center;
  }
  .info-button{
    border: none;
    cursor: pointer;
    background-color: #1d1a69;
    color: #ffffff;
    padding: 5px;
  }
  .table-data1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  }
  .edit-task-container {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
  }
  .task-card {
    display: flex;
    padding: 10px;
    background-color: #CFEAD9;
    border-radius: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .each-inputs-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  .contact-heading{
    font-size: 30px;
  }
  .details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90vh;
  }
.dropdown {
  margin-top: 200px;
  position: absolute;
  top: 100%;
  right:50px;
  background-color: #1d1a69;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:150px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
@media screen and (max-width:300px) {
  .head{
    font-size: 20px;
  }
  .status-container{
    margin: 0px;
    width:65vw;
  }
  .th{
    margin-bottom: 0px;
    word-break: 40%;
  }
  .td{
    margin-bottom: 0px;
    word-break: 70%;
  }
  .update-sales{
    font-size: 18px;
  }
  .label{
    margin-left: -30px;
    font-size: 14px;
    width:150px;
  }
}



