.home-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button{
  background-color: #1d1a69;
  color: #ffffff;
  width:100px;
  height:40px;
  border: none;
  cursor: pointer;
}
.user-container{
    height:80vh;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.table{
    background-color: #ffffff;
    width:100%;
}
.headings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
.heading1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
@media screen and (max-width:600px){
  .heading1{
    flex-direction: column;
  }
}
.main-heading{
    font-size: 35px;
    text-decoration: underline;
    color: rgb(41, 195, 218);
    margin-bottom: 20px;
}
.main-heading1{
  align-self: flex-start;
  font-size: 35px;
  text-decoration: underline;
  color: rgb(41, 195, 218);
  margin-bottom: 20px;
}
.btns-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width:600px) {
  .btns-container{
    margin-bottom: 10px;
  }
}
.sub-btn{
  align-self: flex-end;
  margin-bottom: 10px;
}
.main-heading1{
  font-size: 35px;
  margin-bottom: 20px;
}
@media screen and (max-width:768px){
  .main-heading{
    font-size: 25px;
  }
  .main-heading1{
    font-size: 20px;
  }
}
.sub-heading{
    font-size: 20px;
    background-color: rgb(56, 11, 207);
    padding: 5px;
}
.inp{
  width:30vw;
}
.search-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.searchLabel{
    color: #ffffff;
    font-size: 20px;
}
.input-search{
    width:150px;
}
.select{
  border: 1px solid #010000;
  width:20vw;
  margin-top: 10px;
  height: 35px;
}
.status-select{
  border: 1px solid #010000;
  border-radius: 5px;
  width:150px;
  margin-right: 10px;
  height: 28px;
}
@media screen and (max-width:600px){
  .status-select{
    margin-bottom:10px;
  }
}
@media screen and (max-width:900px) {
    .search-container{
        flex-direction: column;
    }
    .select{
      width:45vw;
    }
}
.search-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.icon{
  margin-top: 10px;
  height:35px;
  border: 1px solid #010000;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-container{
    padding-left: 30px;
  background-color: #1d1a69;
  color: white;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid black;
}
.nav-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-header-navbar-container{
    display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.desktop-header-navbar-link{
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
  transition: border-color 0.66s ease-out, font-size 0.3s ease-out;
}
.desktop-header-list{
  position: relative;
    color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  transition: border-color 0.66s ease-out, font-size 0.3s ease-out;
}
.mobile-header-navbar-container{
    display: none;
}
@media (max-width: 1024px) {
    .desktop-header-navbar-container {
      display: none;
    }
    .mobile-header-navbar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
    }
    .hamburger-btn {
      color: white;
      border: none;
      background-color: transparent;
    }
  
    .mobile-hamburger-menu {
      list-style-type: none;
    }
  }
  .header-navbar-link {
    color: #1d1a69;
    width: 220px;
    height: 35px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 0;
    transition: border-color 0.66s ease-out, font-size 0.3s ease-out;
  }
  @media screen and (max-width:300px){
    .header-navbar-link{
        font-size: 16px;
    }
  }
  .header-navbar-link:hover {
    background-position: 100% 100%;
    transform: scale(1.3);
    transition: transform 1s;
    color: #aed25d;
  }
  .activeTab {
    color: #aed25d;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 20px;
    transition: border-color 0.66s ease-out, font-size 0.3s ease-out;
  }
  .users-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    height:90vh;
    overflow-y: scroll;
  }
  @media screen and (max-width:300px){
    .users-container{
      height:90%;
      overflow-y: scroll;
    }
  }
  .userbtn{
    width:150px;
    height:40px;
    color: #ffffff;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .salesPersonbtn{
    width:200px;
    height:40px;
    color: #ffffff;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .taskbtn{
    width:160px;
    height:40px;
    color: #ffffff;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  @media screen and (max-width:400px){
    .salesPersonbtn{
      width:150px;
      font-size: 13px;
    }
  }
  @media screen and (max-width:300px) {
    .userbtn{
      width:100px;
      font-size: 12px;
    }
  }
  .custom-navbar {
    position: absolute;
    height:90vh;
    min-height: auto;
    bottom: 0;
    background-color: #aed25d;
    color: #1d1a69;
    font-weight: bold;
    width: 12vw;
  }
  @media screen and (max-width:768px){
    .custom-navbar{
      width:20vw;
      font-size: 9px;
    }
  }
  .statuses-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .status-container{
    height:50vh;
    overflow-y:scroll;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 3px 3px 3px 3px lightgray;
  width: 40%;
  text-align: center;
  }
  @media screen and (max-width:950px) {
    .status-container{
      width:60%;
    }
  }
  @media screen  and (max-width:500px){
    .status-container{
      width:80%;
    }
  }
  .status-container1{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px 3px lightgray;
    width: 50vw;
    text-align: center;
    }
  @media screen and (max-width:768px){
    .status-container{
      width:60vw;
    }
    .status-container1{
      width:80vw;
    }
  }
  
  .sub-id{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
  .table-data{
    display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  }
  .th {
    text-align: left;
    width: 45%;
    word-break: break-all;
  }
  .td{
    text-align: left;
    width: 45%;
    word-break: break-all;
  }
  .each-AddTask-container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
  .AddTask-container {
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    background-color: white; /* Set your desired background color */
    border-radius: 12px;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1); /*Add a subtle shadow */
    padding: 20px; /* Add some padding for content */
  }
  .AddTask-container-fold {
    width: 100%;
    height: 60vh;
    background-color: white; /* Set your desired background color */
    border-radius: 8px;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    padding: 14px;
  }
  .AddTask-container-sm {
    overflow-y: scroll;
    height: 70vh;
    background-color: white; /* Set your desired background color */
    border-radius: 8px;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow  */
    padding: 14px;
  }
  /* .date-field {
    width: 500px !important;
  } */
  .info-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height:90vh;
  }
  .info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .head{
    font-size: 30px;
  }
  .heads{
    font-size: 20px;
    text-align: center;
  }
  .info-button{
    border: none;
    cursor: pointer;
    background-color: #1d1a69;
    color: #ffffff;
    padding: 5px;
  }
  .table-data1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  }
  .edit-task-container {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
  }
  .text-center{
    text-align: center;
  }
  .task-card {
    display: flex;
    padding: 10px;
    background-color: #CFEAD9;
    border-radius: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .each-inputs-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  .contact-heading{
    font-size: 30px;
  }
  .details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:90vh;
    /* overflow-y: scroll; */
  }
.dropdown {
  margin-top: 200px;
  position: absolute;
  top: 100%;
  right:50px;
  background-color: #1d1a69;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:150px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
@media screen and (max-width:300px) {
  .head{
    font-size: 20px;
  }
  .status-container{
    margin: 0px;
    width:65vw;
  }
  .th{
    margin-bottom: 0px;
    word-break: 60%;
  }
  .td{
    margin-bottom: 0px;
    word-break: 40%;
  }
  .update-sales{
    font-size: 18px;
  }
  .label{
    margin-left: -30px;
    font-size: 14px;
    width:150px;
  }
}
.test-report-date-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 580px) {
  .test-report-date-filter {
    flex-direction: column;
  }
}
.test-report-display-between {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
@media screen and (max-width: 580px) {
  .test-report-date-filter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .test-report-display-between {
    margin-bottom: 10px;
  }
  .table-data {
    font-size: 16px;
  }
  .view-button {
    font-size: 14px;
  }
}
@media screen and (max-width: 300px) {
  .test-report-display-between {
    flex-direction: column;
  }
}
.test-report-date-input {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-right: 15px;
}
@media screen and (max-width:400px){
  .test-report-date-input{
    width:130px;
  }
}
.table-cell {
  border-right: 1px solid rgba(224, 224, 224, 1);
}
.table-header {
  font-size: 16px;
  border-right: 1px solid rgba(224, 224, 224, 1);
  white-space: wrap;
}
.all-task-container {
  background-color: #66CDAA;
  min-height: 90vh;
}
.header-drawer-container {
  display: flex;
  flex-direction: column;
  margin-top: 64px; /* Adjust this value based on your header's height */
}
.header-drawer-container .MuiDrawer-root {
  margin-top: 100px; /* Adjust this value to create spacing between header and drawer */
}
.selectedTask-container {
  margin-left: 5%;
  width: 90%;
  height: 300px;
  border: 2px solid #3498DB; /* Border color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .input-label-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.input-label-container {
  margin-bottom: 10px;
}
.test-report-date-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 580px) {
  .test-report-date-filter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.details-container{
  text-align: left;
  height: 200px;
  display: flex;
  flex-direction: row;
}
.dash-heading{
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
}
@media screen and (max-width:768px){
  .selectedTask-container{
    height: 550px;
  }
  .details-container{
    min-height: 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
  }
}
.mobile-container{
  display: none;
}
.mobile-sm-container{
  display: none;
}
@media screen and (max-width:768px) {
  .desktop-container{
    display: none;
  }
  .mobile-container{
    display: block;
    margin: auto;
  }
}
@media screen and (max-width:300px){
  .desktop-container{
    display: none;
  }
  .mobile-container{
    display: none;
  }
  .mobile-sm-container{
    display: block;
    margin-left: -35px;
  }
}
.barchart-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width:768px) {
  .barchart-container{
    flex-direction: column;
  }
}
.barchart {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.dash-container{
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
}
.customer-report{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.customer-card-container{
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px #010000;
}